# Prerequisites
*.d

.vs
*.bin
*.sln
*.vcxproj
*.vcxproj.user
CSE-16-ASM.exe
/Binaries
*.asm

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
